/* rem and em do NOT depend on html font-size in media queries */
/* instead, 1 rem = 1em = 16px */

/*********************************/
/* Below 1344px (Smaller desktops */
/*********************************/
@media (max-width: 84em) { /* 1350 (screen size) / 16 */
    .hero-section {
        max-width: 120rem;
    }

    .heading-primary {
        font-size: 4.4rem;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
